<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <h:form id="f7">
                    <p:growl id="alertas-eliminar" autoUpdate="true"/>
                    <p:fieldset legend="Imagenes en el Servidor">
                        <p:dataTable id="tabla" var="value" value="#{usersBean.usersList}" paginator="true"
                                      rows="10" style="margin-bottom:20px">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="id"/>
                                </f:facet>
                                <h:outputText value="#{value.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre"/>
                                </f:facet>
                                <h:outputText value="#{value.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Apellido Materno"/>
                                </f:facet>
                                <h:outputText value="#{value.apm}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Apellido Paterno"/>
                                </f:facet>
                                <h:outputText value="#{value.app}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Edad"/>
                                </f:facet>
                                <h:outputText value="#{value.edad}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Correo Electr&oacute;nico"/>
                                </f:facet>
                                <h:outputText value="#{value.correo}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Usuario"/>
                                </f:facet>
                                <h:outputText value="#{value.usuario}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="slug"/>
                                </f:facet>
                                <h:outputText value="/#{value.usuario}"/>
                            </p:column>
                            <p:column exportable="false">
                                <f:facet name="header">
                                    <h:outputText value="Operaciones"/>
                                </f:facet>
                                <p:outputLabel value="Usuario Administrador no se puede borrar" rendered="#{usersBean.isAdmin(value)}"/>
                                <p:commandButton value="Eliminar Usuario" rendered="#{usersBean.isUser(value)}" actionListener="#{usersBean.deleteUser(value)}" update="f7:tabla"/>
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>            
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
