<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <p:tabView cache="false">
                    <p:tab id="tab1" title="IMAGENES">
                        <p:outputPanel>
                            <p:carousel value="#{imagesBean.imageList}" headerText="Imagenes" var="value" itemStyle="height:auto;text-align:center" numVisible="1" easing="easeOutBounce" style="width:250px">
                                <h:panelGrid columns="2" style="width:100%" columnClasses="label,value">
                                    <f:facet name="header">
                                        <p:graphicImage value="#{value.imageInServer}" stream="false" width="100%"/> 
                                    </f:facet>
                                    <h:outputText value="Nombre:" />
                                    <h:outputText value="#{value.nombre}" />

                                    <h:outputText value="Extension" />
                                    <h:outputText value="#{value.extension}" />
                                    
                                    <h:outputText value="Subida por el usuario:" />
                                    <h:outputText value="#{value.usuariosid.usuario}" />

                                    <f:facet name="footer">
                                        <br/>
                                        <p:dialog modal="true" widgetVar="dialogo" header="Descargando.."
                                        draggable="false"
                                        closable="false"
                                        resizable="false">
                                            <p:graphicImage library="template" name="img/gears.gif" />
                                        </p:dialog>
                                        <h:form id="f5">
                                            <p:commandButton icon="ui-icon-circle-arrow-s"
                                                             value="Download" ajax="false"
                                                             onclick="PrimeFaces.monitorDownload(start, stop);">
                                                <p:fileDownload value="#{uploadDownloadBean.getDownload(value)}" />
                                            </p:commandButton>
                                            <p:graphicImage value="#{uploadDownloadBean.getDownload(value)}"
                                            width="30%"
                                            stream="false"/> 
                                        </h:form>
                                    </f:facet>
                                </h:panelGrid>
                            </p:carousel>
                        </p:outputPanel>
                    </p:tab>
                </p:tabView>
            </ui:define>

        </ui:composition>

    </body>
</html>
