<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <p:tabView cache="false">
                    <p:tab title="EDITAR PERFIL">
                        <h:form id="f3">
                            <p:growl id="alertas-editar" autoUpdate="true"/>
                            <p:panel id="panel" header="Editar Perfil" style="margin-bottom:10px; width: 500px;">
                                <h:panelGrid columns="2" cellpadding="5">
                                    <h:outputLabel for="nombre" value="Nombre:" />
                                    <p:inputText id="nombre" required="true" 
                                                 requiredMessage="Introduzca su nombre"
                                                 placeholder="Nombre"
                                                 value="#{usersBean.user.nombre}"/>
                                    <h:outputLabel for="apm" value="Apellido Materno:" />
                                    <p:inputText id="apm" required="true" 
                                                 requiredMessage="Introduzca su apellido materno"
                                                 placeholder="Apellido Materno"
                                                 value="#{usersBean.user.apm}"/>
                                    <p:outputLabel for="app" value="Apellido Paterno" />
                                    <p:inputText id="app" required="true" 
                                                 requiredMessage="Introduzca su apellido paterno"
                                                 placeholder="Apellido Paterno:"
                                                 value="#{usersBean.user.app}"/>
                                    <h:outputLabel for="edad" value="Edad:" />
                                    <p:spinner id="edad" value="#{usersBean.user.edad}" min="18"/>
                                    <p:outputLabel for="correo" value="Correo Electr&oacute;nico:" />
                                    <p:inputText id="correo" required="true" 
                                                 requiredMessage="Introduzca su correo electr&oacute;nico"
                                                 placeholder="Correo Electr&oacute;nico"
                                                 value="#{usersBean.user.correo}"/>
                                    <p:outputLabel for="login" value="Login:" />
                                    <p:inputText id="login" required="true" 
                                                 requiredMessage="Introduzca sn login"
                                                 placeholder="Login"
                                                 value="#{usersBean.user.usuario}"/>
                                    <p:outputLabel for="pass" value="Password" />
                                    <h:inputSecret id="pass" required="false" 
                                                 requiredMessage="Introduzca un password"
                                                 value="#{usersBean.user.password}"/>
                                </h:panelGrid>
                            </p:panel>
                            <p:commandButton value="Guardar Cambios" id="registro" actionListener="#{usersBean.editProfile()}">
                                <f:ajax execute="@form" render="@none" />
                            </p:commandButton>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </ui:define>

        </ui:composition>

    </body>
</html>
