<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <h:form id="f6">
                    <p:fieldset legend="Imagenes en el Servidor">
                        <p:dataTable id="tabla" var="value" value="#{imagesBean.imageList}" paginator="true"
                                      rows="10" style="margin-bottom:20px">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="id"/>
                                </f:facet>
                                <h:outputText value="#{value.id}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombre"/>
                                </f:facet>
                                <h:outputText value="#{value.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Extension"/>
                                </f:facet>
                                <h:outputText value="#{value.extension}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Imagen"/>
                                </f:facet>
                                <p:graphicImage value="#{value.imageInServer}" stream="false" width="50%"/>
                            </p:column>
                            <p:column exportable="false">
                                <f:facet name="header">
                                    <h:outputText value="Operaciones"/>
                                </f:facet>
                                <p:commandButton value="Eliminar Imagen" actionListener="#{imagesBean.deleteImage(value)}" update="f6:tabla"/>
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>            
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
