<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <p:tabView cache="false">
                    <p:tab title="PERFIL">
                        <h:panelGrid columns="2" cellpadding="10">
                            <p:outputLabel value="Nombre:"/>
                            <p:outputLabel value="#{usersBean.foundUser.nombre}"/>
                            <p:outputLabel value="Apellido Paterno:"/>
                            <p:outputLabel value="#{usersBean.foundUser.app}"/>
                            <p:outputLabel value="Apellido Materno:"/>
                            <p:outputLabel value="#{usersBean.foundUser.apm}"/>
                            <p:outputLabel value="Edad:"/>
                            <p:outputLabel value="#{usersBean.foundUser.edad} a&ntilde;os"/>
                            <p:outputLabel value="Correo Electr&oacute;nico:"/>
                            <p:outputLabel value="#{usersBean.foundUser.correo}"/>
                            <p:outputLabel value="Login:"/>
                            <p:outputLabel value="#{usersBean.foundUser.usuario}"/>
                            <p:outputLabel value="Password:"/>
                            <p:outputLabel value="#{usersBean.foundUser.password}"/>
                        </h:panelGrid>
                    </p:tab>
                </p:tabView>
            </ui:define>

        </ui:composition>

    </body>
</html>
