<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <p:panelGrid columns="1">
                    <p:outputLabel value="Vuelva Pronto #{accessControl.userName}" />
                    <p:graphicImage library="template" name="img/salir.jpg" width="25%" height="25%"/>
                    <h:form>
                        <p:commandButton action="#{accessControl.sessionDestroy}" value="Cerrar Sesi&oacute;n"/>
                    </h:form>
                </p:panelGrid>
            </ui:define>

        </ui:composition>

    </body>
</html>
