<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../Template.xhtml">

            <ui:define name="content">
                <p:tabView cache="false">
                    <p:tab id="tab2" title="SUBIR IMAGEN">
                        <h:form id="form" enctype="multipart/form-data">
                            <p:growl id="alerta-img" autoUpdate="true"/>
                            <p:fileUpload fileUploadListener="#{uploadDownloadBean.uploadImage}"
                                          update="uploadImage"
                                          allowTypes="/(\.|\/)(jpg|jpe?g)$/"/>
                            <p:graphicImage cache="false" stream="false" id="uploadImage" value="#{uploadDownloadBean.image}" width="50%" height="50%"/>
                        </h:form>
                    </p:tab>
                </p:tabView>
            </ui:define>

        </ui:composition>

    </body>
</html>
