<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Encabezado</title>
    </h:head>
    <body>
        <center>
            <p:panelGrid columns="1"> 
                <p:graphicImage library="template" name="img/escudo.png" width="14%" height="14%"/>
                <h1>FACULTAD DE ESTUDIOS SUPERIORES ARAGON</h1>
            </p:panelGrid>   
        </center> 
    </body>
</html>
