<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Menu</title>
    </h:head>
    <body>
        <p:accordionPanel>
            <p:tab title="Menu" rendered="#{usersBean.isUser(usersBean.user)}">
                <p:link href="/AccesoUsuario/Principal.jsf">*Perfil de Usuario</p:link><br/>
                <p:link href="/AccesoUsuario/EditarPerfil.jsf">*Editar Perfil</p:link><br/>
                <p:link href="/AccesoUsuario/Imagenes.jsf">*Ver Imagenes</p:link><br/>
                <p:link href="/AccesoUsuario/SubirImagen.jsf">*Subir Imagen</p:link><br/>
                <p:link href="/AccesoUsuario/EliminarImagen.jsf">*Eliminar Imagen</p:link><br/>
                <p:link href="/AccesoUsuario/Salir.jsf">*Cerrar Sesi&oacute;n</p:link><br/>
            </p:tab>
            <p:tab title="Menu" rendered="#{usersBean.isAdmin(usersBean.user)}">
                <p:link href="/AccesoAdministrador/Principal.jsf">*Perfil de Usuario</p:link><br/>
                <p:link href="/AccesoAdministrador/EditarPerfil.jsf">*Editar Perfil</p:link><br/>
                <p:link href="/AccesoAdministrador/Imagenes.jsf">*Ver Imagenes</p:link><br/>
                <p:link href="/AccesoAdministrador/EliminarUsuarios.jsf">*Eliminar Usuario</p:link><br/>
                <p:link href="/AccesoAdministrador/Salir.jsf">*Cerrar Sesi&oacute;n</p:link><br/>
            </p:tab>
        </p:accordionPanel>
    </body>
</html>
