<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
    </h:head>
    <h:body>
        <center>
            <h:form id="f1" style="display:none;">
                <p:growl id="alertas" autoUpdate="true"/>
                <p:panel id="panel" header="Login" style="margin-bottom:10px; width: 500px;">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="user" value="Usuario:" />
                        <p:inputText id="user" required="true" 
                                     requiredMessage="Introduzca un usuario"
                                     placeholder="Usuario"
                                     value="#{registerBean.usuario.usuario}"/>

                        <p:outputLabel for="pass" value="Password:" />
                        <h:inputSecret id="pass" required="true" 
                                     requiredMessage="Introduzca un password"
                                     value="#{registerBean.usuario.password}"/>
                    </h:panelGrid>
                </p:panel>
                <p:commandButton value="Ingresar" id="entrar_1" action="#{registerBean.acceso()}"/>
            </h:form>
            <br/>
            <button id="login" style="padding: 10px 10px 10px 10px;display: none;">Registrarse</button>
            <h:form id="f2" style="display: none;">
                <p:growl id="alertas-registro" autoUpdate="true"/>
                <p:panel id="panel" header="Login" style="margin-bottom:10px; width: 500px;">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="nombre" value="Nombre:" />
                        <p:inputText id="nombre" required="true" 
                                     requiredMessage="Introduzca su nombre"
                                     placeholder="Nombre"
                                     value="#{registerBean.usuario.nombre}"/>
                        <h:outputLabel for="apm" value="Apellido Materno:" />
                        <p:inputText id="apm" required="true" 
                                     requiredMessage="Introduzca su apellido materno"
                                     placeholder="Apellido Materno"
                                     value="#{registerBean.usuario.apm}"/>
                        <p:outputLabel for="app" value="Apellido Paterno" />
                        <p:inputText id="app" required="true" 
                                     requiredMessage="Introduzca su apellido paterno"
                                     placeholder="Apellido Paterno:"
                                     value="#{registerBean.usuario.app}"/>
                        <h:outputLabel for="edad" value="Edad:" />
                        <p:spinner id="edad" value="#{registerBean.usuario.edad}" min="18"/>
                        <p:outputLabel for="correo" value="Correo Electr&oacute;nico:" />
                        <p:inputText id="correo" required="true" 
                                     requiredMessage="Introduzca su correo electr&oacute;nico"
                                     placeholder="Correo Electr&oacute;nico"
                                     value="#{registerBean.usuario.correo}"/>
                        <p:outputLabel for="login" value="Login:" />
                        <p:inputText id="login" required="true" 
                                     requiredMessage="Introduzca sn login"
                                     placeholder="Login"
                                     value="#{registerBean.usuario.usuario}"/>
                        <p:outputLabel for="pass" value="Password" />
                        <h:inputSecret id="pass" required="true" 
                                     requiredMessage="Introduzca un password"
                                     value="#{registerBean.usuario.password}"/>
                    </h:panelGrid>
                </p:panel>
                <p:commandButton value="Registrarme" id="registro" actionListener="#{registerBean.registro()}" ajax="false"/>
            </h:form>
            <br/>
            <button id="entrar_2" style="padding: 10px 10px 10px 10px; display: none;">Ingresar</button>
        </center>
    </h:body>
    <script>
        $(document).on('ready',function(){
            $("#f1").fadeIn(1500);
            $("#login").slideDown(1500);
            $("#login").on('click',function(){
                $("#f1").hide(1000);
                $("#login").slideUp(1000);
                $("#f2").show(3000);
                $("#entrar_2").slideDown(3000);
            });
            $("#entrar_2").on('click',function(){
                $("#f2").hide(1000);
                $("#entrar_2").slideUp(1000);
                $("#f1").show(3000);
                $("#login").slideDown(3000);
            });
        });
    </script>
</html>

