<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Proyecto Final Diplomado</title>
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
        <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
    </h:head>
    <h:body onload="start()">
        <center>
            <h2>Iniciando</h2>
            <p:progressBar id="progressBarClient" widgetVar="pbClient" style="width:300px"/>
        </center>
        <script type="text/javascript">
            function start() {
                window['progress'] = setInterval(function() {
                    var pbClient = PF('pbClient'),
                    oldValue = pbClient.getValue(),
                    newValue = oldValue + 10;

                    pbClient.setValue(pbClient.getValue() + 10);

                    if(newValue === 110) {
                        clearInterval(window['progress']);
                        window.location = "Principal/Login.jsf";
                    }
                }, 1000);
            }
        </script>

    </h:body>
</html>

