<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="template" name="css/default.css"/>
        <h:outputStylesheet library="template" name="css/cssLayout.css"/>
        <title>Proyecto Final</title>
        <f:event type="preRenderView" listener="#{accessControl.checkSession()}"/>
    </h:head>

    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="105">
               <div id="top" class="top">
                   <ui:insert name="top">
                       <ui:include id="pag1" src="Componentes/Encabezado.xhtml"/>
                   </ui:insert>
                </div> 
            </p:layoutUnit>
            <p:layoutUnit position="west" size="300" header="" collapsible="true">
                <ui:include src="Componentes/Menu.xhtml"/>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <div id="content" class="center_content">
                    <ui:insert name="content">
                    </ui:insert>
                </div>     
            </p:layoutUnit>
        </p:layout>
        <script type="text/javascript">
            function start() {
                PF('dialogo').show();
            }
            function stop() {
                PF('dialogo').hide();
            }
        </script>
    </h:body>

</html>
